body {
  background-color: #2b023a;
  color: aliceblue;
  font-family: Arial, sans-serif;
}

.bg-custom-gradient {
  background: linear-gradient(135deg, #320144, #20002c, #4a0d55, #17173d);
}




.container {
  padding: 20px;
}

.list {
  display: flex;
  gap: 20px;
}

.list-item {
  flex: 1;
  background-color: #708090;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.list-item h2 {
  margin-bottom: 10px;
}

.list-item img {
  margin-bottom: 10px;
}

.list-item p {
  margin: 5px 0;
}

.list-item span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.list-item span:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:disabled {
  cursor: not-allowed;
  background-color: grey;
}
